<div class="hero md:max-h-[600px] max-w-[1768px] mx-auto relative w-full flex flex-col sm:flex-row">
   <div class="hero__image sm:w-1/2">
      <img class="w-full h-full object-cover block" src="/images/heros/homepage_hero_1140x760.jpg" alt="">
   </div>
   <div class="hero__text-content shrink-0 sm:w-1/2 bg-personalblue flex items-center justify-center">
      <div class="text-white py-7 sm:py-20">
         <div
            class="font-['Avenir_Heavy'] drop-shadow-md text-[7vw] leading-[7vw] sm:text-[5vw] sm:leading-[5vw] md:text-[4vw] md:leading-[4vw] xl:text-6xl xl:leading-6xl">
            Up to $5,000<br>
            credit toward<br>
            closing costs.
         </div>
         <div class="text-[2.2vw] mt-[2vw] sm:text-[1.5vw] md:text-[1.1vw] xl:text-lg xl:mt-10">
            Subject to credit approval. Certain terms and conditions<br> apply. Subject to change without notice.
         </div>
         <div class="mt-[2vw] xl:mt-6 flex">
            <a href="/campaigns/cant/home-loans/"
               class="uppercase no-underline text-white bg-wtb-blue text-center block py-[1vw] px-[3vw] text-[1.5vw] md:text-[1.1vw] xl:text-lg xl:py-2 xl:px-8">
               Learn More</a>
         </div>
      </div>
   </div>
   <div class="hidden absolute bg-black text-white text-3xl p-3 rounded-br">
      <div class="sm:hidden">XS</div>
      <div class="hidden sm:block md:hidden">SM</div>
      <div class="hidden md:block lg:hidden">MD</div>
      <div class="hidden lg:block xl:hidden">LG</div>
      <div class="hidden xl:block">XL</div>
   </div>
</div>